{# Template #}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ config.entries[filename].hed }}</title>

    {% block styles %}
    <link rel="stylesheet" href="./css/main.scss" type="text/css" media="all" />
    <link rel="stylesheet" href="./css/graphic.scss" type="text/css" media="all" />
    <style>
      select {
        font-family: 'Open Sans';
        font-weight: bold;
      }

      #race-select {
        width: 50%;
      }

      @media screen and (max-width: 600px) {
        #race-select {
          width: 100%;
        }
      }
    </style>
    {% endblock %}
  </head>

  <body>
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; font-family: 'Open Sans'; gap: 5px">
      <label for="race-select"><b>Choose a race/proposal</b></label>

      <select name="races" id="race-select">
        <option value="gubernatorial">Gubernatorial</option>
        <option value="ann-arbor-mayor" selected>Ann Arbor Mayor</option>
        <option value="state-proposal-1">State Proposal 1</option>
        <option value="state-proposal-2">State Proposal 2</option>
        <option value="state-proposal-3">State Proposal 3</option>
        <option value="city-proposal-1">Ann Arbor City Proposal 3</option>
      </select>
    </div>
    <h1 class="figure__title">{{ config.entries[filename].hed }}</h1>
    <h2 class="figure__caption">{{ config.entries[filename].dek }}</h2>
    <figure>
      {% include "src/graphic/ai2html-output/" +
      config.entries[filename].illustrator_output_filename ignore missing %}
    </figure>
    <div id="last-update" style="font-size: 11px; font-family: 'Open Sans'; margin-bottom: 10px;">Last updated: </div>
    {% if config.entries[filename].note %}
    <div class="figure__note">Note: {{ config.entries[filename].note }}</div>
    {% endif %}
    <div class="figure__source">
      Source: {{ config.entries[filename].source }}
    </div>
    <div class="figure__byline">
      Graphic by {{ config.entries[filename].byline }} / The Michigan Daily
    </div>

    {% block scripts %} 
    <script type="module" src="./js/graphic.js" charset="utf-8"></script>
    {% endblock %}
  </body>
</html>
